<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PitchPerfect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CAC0BAA1D66FFF0009B74F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CAC0BBE1D66FFF1009B74F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CAC0BC91D66FFF1009B74F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
